.App {
  margin: 0 auto;
  min-width: 400px;
  min-height: 500px;
}
body {
  height: 100vh;
  background-color: pink;
}
#Typebox {
  font-size: 20px;
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid red;
  height: 400px;
  width: 400px;
  color: red;
}
